<!DOCTYPE html>
<html lang="es">
<head>
	<title>{{titulo}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
		<link rel="stylesheet" type="text/css" href="./templates/index.css" />
    	<link rel="stylesheet" type="text/css" href="templates/static/bootstrap/css/bootstrap.css" />
    	<link rel="stylesheet" type="text/css" href="./templates/index.css" />
    	<link rel="stylesheet" type="text/css" href="./templates/static/alertify/alertify.min.css" />
    	<link rel="stylesheet" type="text/css" href="./templates/static/alertify/bootstrap.min.css" />
    	<link rel="stylesheet" type="text/css" href="./templates/static/alertify/default.min.css" />
    {% endblock css %}

    {% block scripts %}
		<script src="templates/static/js/jquery-1.9.1.min.js"></script>
		<script src="templates/static/bootstrap/js/bootstrap.js"></script>
		<script src="templates/static/alertify/alertify.min.js"></script>
    {% endblock %}
</head>
<body>
	<header>
		<h3 style="text-align: center;">Hospital Dr. Ricardo Gutiérrez</h3>	
	</header>
	<nav class="nav">
		{% block nav %}{% endblock nav %}
	</nav>

	{% block content %}{% endblock content %}

</body>
<footer>
	<p><label>Email: </label>{{email}}</p>
	<p><label>Direccion: </label>Diagonal 114 329, La Plata, Buenos Aires</p>
	<p><label>Telefono: </label>0221 483-0171</p>
</footer>

</html>