{% extends "backendGeneral.html.twig" %}
	
{% block content %}

	<script src="templates/code/highcharts.js"></script>
	<script src="templates//code/modules/exporting.js"></script>

	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



	<script type="text/javascript">

		Highcharts.chart('container', {
		    chart: {
		        type: 'line'
		    },
		    title: {
		        text: 'Curva de percentil perímetro cefálico'
		    },
		    subtitle: {
		        text: 'Hospital Gutierrez'
		    },
		    xAxis: {
		        categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13']
		    },
		    yAxis: {
		        categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13']

		    },
		    plotOptions: {
		        line: {
		            dataLabels: {
		                enabled: true
		            },
		            enableMouseTracking: false
		        }
		    },
		    series: [{
		        name: '{{paciente | title}}',
		        data: [
						{% for ppc in ppcs %}
							{{ppc}},
						{% endfor %}
		        ]
		    }]
		});
	</script>
<a class="volver" href="historiaVerTodas.php?id_paciente={{id_paciente}}"><i class="btn btn-info">VOLVER</i></a>

{% endblock %}